h2 {
    font-size: 32px;
    text-align: center;
    color: #000cff;
    background: linear-gradient(to bottom right, #ff0745, #000cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clothingHeroImg {
    display: block;
    width: 100%;
    max-height: 150vh; /* Set a maximum height relative to the viewport height */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

.clothing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    border-radius: 10px;
}

.card {
    gap: 100px;
    flex-basis: calc(25% - 10px); /* 25% width for each card with some spacing */
    margin-bottom: 20px; /* Adjust as needed */
}

.card img {
    max-width: 100%;
    height: auto;
}

@media(max-width: 768px) {
    .img {
        width: calc(50% - 10px); /* 50% width for each image on smaller screens */
    }
}

