
  
h2 {
    font-size: 32px;
    text-align: center;
    color: #000cff;
    background: linear-gradient(to bottom right, #ff0745, #000cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shoesHeroImg {
    display: block;
    width: 100%;
    max-height: 100vh; /* Set a maximum height relative to the viewport height */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

.shoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    flex-basis: calc(25% - 10px); /* 25% width for each card with some spacing */
    margin-bottom: 20px; /* Adjust as needed */
}

.card img {
    max-width: 100%;
    height: auto;
}

.card p img {
    width: 20px; /*Adjust width as needed*/
    height: auto; /* Maintain aspect ratio */
    display: inline-block;
}

.card p {
    text-align: center;
    color: #000000;
    font-weight: 500;
    line-height: 5px;
}

.card img:hover {
    scale: 1.1;
    transition: .4s ease-out;   
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 10px); /* Two cards per row */
    }
}

@media screen and (max-width: 576px) {
    .card {
        flex-basis: 100%; /* Single card per row */
    }
}